body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(8, 8, 8);
  color: white;
}

h1{
  color:red
}

h3{
  color:white;
  text-align: center;
}

 h2{
  text-align: center;
  color: white;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #ddd;
}


.bot-collection, .bot-army {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 1200px;
}

.bot-card {
  background-color: rgb(148, 221, 215);
  border: 1px solid #1a0303;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bot-card img {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.bot-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.bot-card p {
  margin: 5px 0;
}

.bot-card button {
  background-color: #1b1d2944;
  color: red;
  font-weight: bold;
}

.bot-card button:hover {
  background-color: #0056b3;
}


.bot-detail {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid red;
  border-radius: 8px;
  background-color: rgb(94, 39, 39);
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bot-detail img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin: 15px 0;
}

.bot-detail p {
  font-size: 16px;
  margin: 10px 0;
}


button {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: black;
}

div {
  text-align: center;
  margin: 15px 0;
}